 .u-section-1 {
  background-image: url("images/op.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2133px;
}

.u-section-1 .u-image-1 {
  width: 1288px;
  height: 50px;
  margin: 153px -74px 0;
}

.u-section-1 .u-image-2 {
  width: 1097px;
  height: 23px;
  margin: 70px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 647px;
  width: 1000px;
  margin: 101px 70px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1728px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 36px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 20px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1704px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 28px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 15px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 21px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 11px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1662px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 7px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 500px;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 439px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 432px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 424px;
  }
}